@font-face { 
    font-family: "Museo Sans Cyrl";
    src: url(../fonts/MuseoSansCyrl.otf) format("otf");
    font-weight: 100;
    font-style: normal;
}
@font-face { 
    font-family: "Museo Sans Cyrl";
    src: url(../fonts/MuseoSansCyrl_0.otf) format("otf");
    font-weight: 300;
    font-style: normal;
}
@font-face { 
    font-family: "Museo Sans Cyrl";
    src: url(../fonts/MuseoSansCyrl_1.otf) format("otf");
    font-weight: 500;
    font-style: normal;
}
@font-face { 
    font-family: "Museo Sans Cyrl";
    src: url(../fonts/MuseoSansCyrl_2.otf) format("otf");
    font-weight: 700;
    font-style: normal;
}
@font-face { 
    font-family: "Museo Sans Cyrl";
    src: url(../fonts/MuseoSansCyrl_3.otf) format("otf");
    font-weight: 900;
    font-style: normal;
}